
@{
    ViewBag.Title = "UserDetail";
}

<h2>User Detail</h2>


@model DataAccess.DTO.UserDTO




<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                User Account
            </th>
            <th>
                User Password
            </th>
            <th>
                User FullName
            </th>

            <th>
                User Address
            </th>
            <th>
                Role
            </th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>

        <tr>

            <td>
                @Model.UserAccount
            </td>
            <td>
                @Model.UserPassword
            </td>
            <td>
                @Model.UserFullName
            </td>
            <td>
                @Model.UserAddress
            </td>
            <td>
                @Model.RoleName
            </td>

            <td>
                @Model.UserPhoneNumber
            </td>

        </tr>

    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
